:root{
  --main-color :lightgray; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: black;
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  display: flex;
  flex-direction: column;
}

header{
  height: 100px;
}

.header-top-container{
  position: sticky;
  top: -1px;
  z-index: 1000;
  padding: 0 20px;
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  height: 30%;
  border-bottom: 1px solid var(--main-color);
}

.header-top-right{
  display: flex;
  align-items: center;
}
.header-top-right >a{
  color: var(--main-color);
}

.header-top-left{
  display: flex;
  align-items: center;
}
.header-top-left a{
  padding: 10px;
  color: var(--main-color);
}

.header-container{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo > a{
  display: block;
  width: 100%;
  height: 100%;
}

.search {
  width: 40%;
  height: 70%;
  margin-left: 20px;
}

.search input {
  width: 100%;
  height: 100%;
  border: 2px solid limegreen;
}

nav{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black ;
}

.navbar{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}

.navbar li {
  width: 20%;
  text-align: center;
}

.navbar li a{
  width: 100%;
}

.album-intro{
  display: flex;
  flex-direction: column;
}

/* 최신앨범 소개  */

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.card-item{
  width: 30%;
  padding-top: 10px;
  flex-shrink: 0;
}

.card{
  display: block;
}

.card-thumbnail-container{
  height: 200px;
}

.card-thumbnail-container img{
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.card>p{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: gray;
  
}

